@mixin icon-atributes {
  width: 4rem;
  height: 4rem;
  margin-right: 4rem;

  @media only screen and (max-width: 40.62em) {
    margin-bottom: 2rem;
  }
}

@mixin places {
  width: 35vw;
  height: 7rem;
  margin-bottom: 2.4rem;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;

  @media only screen and (max-width: 56.25em) {
    width: 65vw;
    height: 8rem;
  }
}

.tours {
  background-color: var(--color-blue-light);
  position: relative;

  &__heading2 {
    font-size: 2.6rem;
    color: var(--color-white);
    font-weight: 700;
    padding: 6rem;
    margin-bottom: 3.2rem;
    text-align: center;
  }

  &__options {
    margin-left: 10vw;
    padding-bottom: 5.4rem;
  }

  &__option {
    background-color: var(--color-white);
    padding: 1.6rem 2.8rem;
    margin-bottom: 2.4rem;
    width: 44vw;
    height: 8rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    z-index: 10;

    @media only screen and (max-width: 56.25em) {
      width: 70vw;
    }

    @media only screen and (max-width: 40.62em) {
      flex-direction: column;
      width: 80vw;
      height: 30vh;
      justify-content: center;
      align-items: center;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      top: 0;
      bottom: 0;
      left: 70%;
      border-left: 5px dotted #ddd;

      @media only screen and (max-width: 40.62em) {
        display: none;
      }
    }

    &--active {
      background-color: var(--color-white);
      padding: 1.6rem 2.8rem;
      margin-bottom: 2.4rem;
      width: 55vw;
      height: 10rem;
      border-radius: 5px;

      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      z-index: 10;

      @media only screen and (max-width: 56.25em) {
        width: 85vw;
      }

      @media only screen and (max-width: 40.62em) {
        flex-direction: column;
        width: 80vw;
        height: 43vh;
        justify-content: center;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 5;
        top: 0;
        bottom: 0;
        left: 70%;
        border-left: 5px dotted #ddd;

        @media only screen and (max-width: 40.62em) {
          display: none;
        }
      }
    }
  }

  &__image {
    position: absolute;
    top: 32%;
    left: 48%;
    z-index: 2;
    img {
      height: 45rem;
      width: 45rem;
    }

    @media only screen and (max-width: 40.62em) {
      display: none;
    }
  }

  &__icons {
    margin-left: 2.4rem;
  }

  &__icon--1 {
    @include icon-atributes();
    fill: var(--color-blue-dark);
    width: 6.5rem;
    height: 6.5rem;
  }
  &__icon--2 {
    @include icon-atributes();
    fill: #f24747;
  }
  &__icon--3 {
    @include icon-atributes();
    fill: #067206;
  }
  &__icon--4 {
    @include icon-atributes();
    fill: #f0d20a;
  }

  &__paragraph--1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-grey-3);
    margin-bottom: 1rem;

    @media only screen and (max-width: 40.62em) {
      text-align: center;
    }
  }

  &__text {
    @media only screen and (max-width: 40.62em) {
      width: 80vw;
      margin-bottom: 2.6rem;
      border-bottom: 6px dotted #ddd;
      padding-bottom: 2.4rem;
    }
  }
  &__paragraph--2 {
    font-size: 1.2rem;
    color: #999;

    @media only screen and (max-width: 40.62em) {
      text-align: center;
    }
  }

  &__paragraph--1-big {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-grey-3);
    margin-bottom: 1rem;

    @media only screen and (max-width: 40.62em) {
      text-align: center;
    }
  }

  &__paragraph--2-big {
    font-size: 1.4rem;
    color: #999;

    @media only screen and (max-width: 40.62em) {
      text-align: center;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;

    @media only screen and (max-width: 40.62em) {
      margin-left: 0;
    }
  }

  &__money {
    font-size: 2.4rem;
    font-weight: 700;
    color: #f0d20a;

    @media only screen and (max-width: 87.5em) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 40.62em) {
      font-size: 2.4rem;
    }
  }
  &__money-big {
    font-size: 2.4rem;
    font-weight: 700;
    color: #f0d20a;

    margin-bottom: 1.6rem;

    @media only screen and (max-width: 87.5em) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 40.62em) {
      font-size: 2.6rem;
    }
  }

  &__btn {
    font-size: 1.2rem;
    display: inline-block;
    border: 2px solid var(--color-blue-light);
    background-color: var(--color-blue-light);
    color: var(--color-white);
    border-radius: 5px;
    padding: 0.4rem 3rem;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      border: 2px solid var(--color-blue-dark);
      background-color: var(--color-blue-dark);
    }
  }
}

.traveling {
  margin-bottom: 20rem;
  position: relative;

  &__heading2 {
    font-size: 2.6rem;
    color: #333;
    font-weight: 700;
    padding: 6rem;
    margin-bottom: 3.2rem;
    text-align: center;
  }

  &__container {
    width: 80vw;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--color-blue-dark);
    margin-left: 10vw;
    margin-bottom: 9rem;
    position: relative;

    @media only screen and (max-width: 56.25em) {
      text-align: center;
    }

    @media only screen and (max-width: 40.62em) {
      width: 100vw;
      height: 80vh;
      margin-left: 0;
      border-radius: 0;
    }

    &--big {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
    }
  }

  &__text {
    width: 35%;

    @media only screen and (max-width: 56.25em) {
      width: 100%;
      height: 130vh;
    }
  }

  &__text-header {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 5.4rem;
  }

  &__paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-white);
    margin-bottom: 2rem;

    &-heading {
      font-size: 1.4rem;
      font-weight: 700;
      color: var(--color-white);
      margin-bottom: 1.6rem;

      @media only screen and (max-width: 56.25em) {
        text-align: center;
      }
    }
  }

  &__btn {
    border-radius: 5px;
    padding: 1.2rem 2.4rem;
    border: 2px solid var(--color-grey-2);
    background-color: var(--color-grey-2);
    color: var(--color-white);
    margin-right: 2rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-grey-3);
      border: 2px solid var(--color-grey-3);
    }
  }
}

.popular-places {
  width: 40vw;
  height: 55rem;
  background-color: #eee;
  border-radius: 5px;
  padding: 3rem;
  box-shadow: 0 0.2 0.5 rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 20%;
  right: 15%;

  @media only screen and (max-width: 75em) {
    transform: translateY(5%);
  }

  @media only screen and (max-width: 56.25em) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 72%;
    right: -43%;
    transform: translate(-50%, -50%);
    width: 90vw;
  }

  @media only screen and (max-width: 40.62em) {
    width: 100vw;
    height: 50vh;
    margin-left: 0;
    border-radius: 0;
    top: 65%;
    right: 0;
    transform: translate(0, 0);
  }

  &__header {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.2rem;
  }

  &__image--turkey {
    @include places();
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.000004) 30%,
        rgba(0, 0, 0, 0.5) 60%
      ),
      url(../img/compresed/turkey-min.jpg);
  }
  &__image--greece {
    @include places();
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.000004) 30%,
        rgba(0, 0, 0, 0.5) 60%
      ),
      url(../img/compresed/greece1-min.jpg);
  }
  &__image--brazil {
    @include places();
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.000004) 30%,
        rgba(0, 0, 0, 0.5) 60%
      ),
      url(../img/compresed/brazil-min.jpg);
  }
  &__image--mexico {
    @include places();
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.000004) 30%,
        rgba(0, 0, 0, 0.5) 60%
      ),
      url(../img/compresed/mexico-min.jpg);
  }
  &__image--thailand {
    @include places();
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.000004) 30%,
        rgba(0, 0, 0, 0.5) 60%
      ),
      url(../img/compresed/thailand-min.jpg);
  }

  &__figcaption {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1.2rem;
    fill: var(--color-white);
    cursor: pointer;
  }

  &__item {
    position: absolute;
    top: 50%;
    right: -6%;
    transform: translate(-50%, -50%);
  }
}
