:root {
  --color-orange: #f7b74f;
  --color-blue-light: #4eb8fa;
  --color-blue-dark: #274165;
  --color-grey-1: #2e2d2c;
  --color-grey-2: #3c3c3b;
  --color-grey-3: #575756;
  --color-white: #f7f7f7;
}
